altgraph==0.17.2
attrs==23.2.0
azure-common==1.1.28
azure-core==1.30.2
azure-identity==1.17.0
azure-maps-geolocation==1.0.0b1
azure-maps-search==1.0.0b2
azure-mgmt-core==1.4.0
blinker==1.5
borb==2.0.18
branca==0.5.0
bson==0.5.10
cachelib==0.1.1
certifi==2022.9.24
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==7.1.2
colorama==0.4.5
comtypes==1.1.14
cryptography==42.0.8
cx-Oracle==8.3.0
dnspython==1.16.0
docx==0.2.4
et-xmlfile==1.1.0
exceptiongroup==1.2.1
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Mail==0.9.1
Flask-Session==0.3.2
folium==0.13.0
fonttools==4.37.4
future==0.18.2
gitdb==4.0.10
GitPython==3.1.32
googlemaps==4.10.0
googletrans==3.0.0
greenlet==3.0.1
h11==0.9.0
h2==3.2.0
h3==3.7.7
hpack==3.0.0
hstspreload==2024.7.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
icalendar==5.0.4
idna==2.10
isodate==0.6.1
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.9.2
MarkupSafe==1.1.1
mongoengine==0.27.0
MouseInfo==0.1.3
msal==1.29.0
msal-extensions==1.2.0
msrest==0.7.1
nmap==0.0.1
ntlm-auth==1.5.0
numpy==1.23.0
oauthlib==3.2.2
Office365-REST-Python-Client==2.3.8
openpyxl==3.0.7
outcome==1.3.0.post0
pandas==1.5.1
pdfcrowd==5.13.0
pefile==2022.5.30
pillow==10.3.0
portalocker==2.10.0
psutil==5.9.4
psycopg2==2.9.9
PyAutoGUI==0.9.54
pycparser==2.20
PyGetWindow==0.0.9
pyinstaller-hooks-contrib==2022.8
PyJWT==2.6.0
pymongo==3.11.4
PyMsgBox==1.0.9
pyodbc==5.0.1
PyPDF2==1.26.0
pyperclip==1.8.2
pypyodbc==1.3.6
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
python-barcode==0.14.0
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.18.0
python-http-client==3.3.7
python-multipart==0.0.5
python-nmap==0.7.1
pytweening==1.2.0
pytz==2022.4
pywin32==304
pywin32-ctypes==0.2.0
qrcode==7.3.1
requests==2.28.1
requests-ntlm==1.1.0
requests-oauthlib==2.0.0
requests-toolbelt==0.10.1
rfc3986==1.5.0
schedule==1.1.0
selenium==4.8.3
sendgrid==6.11.0
SharePlum==0.5.1
six==1.15.0
smmap==5.0.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.23
sqlalchemy-access==2.0.2
starkbank-ecdsa==2.2.0
starlette==0.13.8
starlette-session==0.4.1
timezonefinder==6.5.2
tqdm==4.66.1
trio==0.25.1
trio-websocket==0.11.1
typing_extensions==4.8.0
urllib3==1.26.4
uuid==1.30
uvicorn==0.13.4
Werkzeug==1.0.1
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.0.3
xlutils==2.0.0
xlwings==0.27.14
xlwt==1.3.0